<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">

    <test name="Service365-TestAutomation">
        <parameter name="environment" value="${environment}"/>
        <!--<parameter name="browser" value="${browser}"/>-->
        <!--<parameter name="environment" value="DEV"/>-->
        <!--<groups>-->
        <!--<run>-->
        <!--<include name="basic"/>-->
        <!--<include name="homePage"/>-->
        <!--<include name="login"/>-->
        <!--<include name="editProfile"/>-->
        <!--</run>-->
        <!--</groups>-->
        <classes>
            <class name="TestCustomer">
                <methods>
                    <include name="testEditProfile"/>
                    <include name="testAddAddress"/>
                    <include name="testBookService"/>
                    <!--<include name="testCancelOrder"/>-->
                </methods>
            </class>
            <!--<class name="TestProvider">-->
            <!--<methods>-->
            <!--<include name="testProviderLogin"></include>-->
            <!--</methods>-->
            <!--</class>-->
        </classes>
    </test> <!-- testing1 -->
</suite> <!-- Default Suite -->
